<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kevin.ods.mapper.OdsSqlPackMapper">

    <resultMap type="OdsSqlPack" id="OdsSqlPackResult">
        <result property="Id"    column="Id"    />
        <result property="name"    column="name"    />
        <result property="sqlVarchar"    column="sqlVarchar"    />
        <result property="sqlPriority"    column="sqlPriority"    />
        <result property="sqlGroup"    column="sqlGroup"    />
        <result property="groupPriority"    column="groupPriority"    />
        <result property="procedureGroup"    column="procedureGroup"    />
        <result property="groupOutValue"    column="groupOutValue"    />
        <result property="groupInValue"    column="groupInValue"    />
        <result property="procedureOutValue"    column="procedureOutValue"    />
        <result property="procedureInValue"    column="procedureInValue"    />
        <result property="actualid"    column="actualid"    />
        <result property="createdate"    column="createdate"    />
        <result property="createuserid"    column="createuserid"    />
        <result property="owneruserid"    column="owneruserid"    />
        <result property="partitionid"    column="partitionid"    />
        <result property="schemaname"    column="schemaname"    />
        <result property="setid"    column="setid"    />
        <result property="structureid"    column="structureid"    />
        <result property="tenantid"    column="tenantid"    />
        <result property="updatedate"    column="updatedate"    />
        <result property="updateuserid"    column="updateuserid"    />
        <result property="sqlGroupCode"    column="sqlGroupCode"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectOdsSqlPackVo">
        select Id, name, sqlVarchar, sqlPriority, sqlGroup, groupPriority, procedureGroup, groupOutValue, groupInValue, procedureOutValue, procedureInValue, actualid, createdate, createuserid, owneruserid, partitionid, schemaname, setid, structureid, tenantid, updatedate, updateuserid, sqlGroupCode, status from ods_sql_pack
    </sql>

    <select id="selectOdsSqlPackList" parameterType="OdsSqlPack" resultMap="OdsSqlPackResult">
        <include refid="selectOdsSqlPackVo"/>
        <where>
            status = 'EFFECTIVE'
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="sqlVarchar != null  and sqlVarchar != ''"> and lower(sqlVarchar) like concat('%', #{sqlVarchar}, '%')</if>
            <if test="sqlPriority != null "> and sqlPriority = #{sqlPriority}</if>
            <if test="sqlGroup != null  and sqlGroup != ''"> and sqlGroup = #{sqlGroup}</if>
            <if test="groupPriority != null  and groupPriority != ''"> and groupPriority = #{groupPriority}</if>
            <if test="procedureGroup != null  and procedureGroup != ''"> and procedureGroup = #{procedureGroup}</if>
        </where>
        order by groupPriority,sqlPriority asc
    </select>



    <select id="selectOdsSqlMaxId" parameterType="String">
        select max(id) from ods_sql_pack
    </select>

    <select id="selectSqlGropList" parameterType="java.util.List">
        select distinct sqlGroup from ods_sql_pack where status = 'EFFECTIVE'
    </select>

    <select id="selectSqlGropCodeList" parameterType="java.util.List">
        select distinct sqlGroupCode from ods_sql_pack where status = 'EFFECTIVE'
    </select>

    <select id="selectprocedureGroupList" parameterType="java.util.List">
        select distinct procedureGroup from ods_sql_pack where status = 'EFFECTIVE'
    </select>

    <select id="selectOdsSqlPackById" parameterType="Long" resultMap="OdsSqlPackResult">
        <include refid="selectOdsSqlPackVo"/>
        where Id = #{Id}
    </select>

    <insert id="insertOdsSqlPack" parameterType="OdsSqlPack">
        insert into ods_sql_pack
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="Id != null">Id,</if>
            <if test="name != null">name,</if>
            <if test="sqlVarchar != null">sqlVarchar,</if>
            <if test="sqlPriority != null">sqlPriority,</if>
            <if test="sqlGroup != null">sqlGroup,</if>
            <if test="groupPriority != null">groupPriority,</if>
            <if test="procedureGroup != null">procedureGroup,</if>
            <if test="groupOutValue != null">groupOutValue,</if>
            <if test="groupInValue != null">groupInValue,</if>
            <if test="procedureOutValue != null">procedureOutValue,</if>
            <if test="procedureInValue != null">procedureInValue,</if>
            <if test="actualid != null">actualid,</if>
            <if test="createdate != null">createdate,</if>
            <if test="createuserid != null">createuserid,</if>
            <if test="owneruserid != null">owneruserid,</if>
            <if test="partitionid != null">partitionid,</if>
            <if test="schemaname != null">schemaname,</if>
            <if test="setid != null">setid,</if>
            <if test="structureid != null">structureid,</if>
            <if test="tenantid != null">tenantid,</if>
            <if test="updatedate != null">updatedate,</if>
            <if test="updateuserid != null">updateuserid,</if>
            <if test="sqlGroupCode != null">sqlGroupCode,</if>
            <if test="status != null">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="Id != null">#{Id},</if>
            <if test="name != null">#{name},</if>
            <if test="sqlVarchar != null">#{sqlVarchar},</if>
            <if test="sqlPriority != null">#{sqlPriority},</if>
            <if test="sqlGroup != null">#{sqlGroup},</if>
            <if test="groupPriority != null">#{groupPriority},</if>
            <if test="procedureGroup != null">#{procedureGroup},</if>
            <if test="groupOutValue != null">#{groupOutValue},</if>
            <if test="groupInValue != null">#{groupInValue},</if>
            <if test="procedureOutValue != null">#{procedureOutValue},</if>
            <if test="procedureInValue != null">#{procedureInValue},</if>
            <if test="actualid != null">#{actualid},</if>
            <if test="createdate != null">#{createdate},</if>
            <if test="createuserid != null">#{createuserid},</if>
            <if test="owneruserid != null">#{owneruserid},</if>
            <if test="partitionid != null">#{partitionid},</if>
            <if test="schemaname != null">#{schemaname},</if>
            <if test="setid != null">#{setid},</if>
            <if test="structureid != null">#{structureid},</if>
            <if test="tenantid != null">#{tenantid},</if>
            <if test="updatedate != null">#{updatedate},</if>
            <if test="updateuserid != null">#{updateuserid},</if>
            <if test="sqlGroupCode != null">#{sqlGroupCode},</if>
            <if test="status != null">#{status},</if>
         </trim>
    </insert>

    <update id="updateOdsSqlPack" parameterType="OdsSqlPack">
        update ods_sql_pack
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="sqlVarchar != null">sqlVarchar = #{sqlVarchar},</if>
            <if test="sqlPriority != null">sqlPriority = #{sqlPriority},</if>
            <if test="sqlGroup != null">sqlGroup = #{sqlGroup},</if>
            <if test="groupPriority != null">groupPriority = #{groupPriority},</if>
            <if test="procedureGroup != null">procedureGroup = #{procedureGroup},</if>
            <if test="groupOutValue != null">groupOutValue = #{groupOutValue},</if>
            <if test="groupInValue != null">groupInValue = #{groupInValue},</if>
            <if test="procedureOutValue != null">procedureOutValue = #{procedureOutValue},</if>
            <if test="procedureInValue != null">procedureInValue = #{procedureInValue},</if>
            <if test="actualid != null">actualid = #{actualid},</if>
            <if test="createdate != null">createdate = #{createdate},</if>
            <if test="createuserid != null">createuserid = #{createuserid},</if>
            <if test="owneruserid != null">owneruserid = #{owneruserid},</if>
            <if test="partitionid != null">partitionid = #{partitionid},</if>
            <if test="schemaname != null">schemaname = #{schemaname},</if>
            <if test="setid != null">setid = #{setid},</if>
            <if test="structureid != null">structureid = #{structureid},</if>
            <if test="tenantid != null">tenantid = #{tenantid},</if>
            <if test="updatedate != null">updatedate = #{updatedate},</if>
            <if test="updateuserid != null">updateuserid = #{updateuserid},</if>
            <if test="sqlGroupCode != null">sqlGroupCode = #{sqlGroupCode},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where Id = #{Id}
    </update>


    <update id="updateOdsSqlStatusById" parameterType="String">
        update ods_sql_pack
        <trim prefix="SET" suffixOverrides=",">
            status = "DROP"
        </trim>
        where Id = #{Id}
    </update>

    <update id="updateOdsSqlStatusByIds" parameterType="String">
        update ods_sql_pack
        <trim prefix="SET" suffixOverrides=",">
            status = "DROP"
        </trim>
        where Id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>



    <delete id="deleteOdsSqlPackById" parameterType="Long">
        delete from ods_sql_pack where Id = #{Id}
    </delete>

    <delete id="deleteOdsSqlPackByIds" parameterType="String">
        delete from ods_sql_pack where Id in
        <foreach item="Id" collection="array" open="(" separator="," close=")">
            #{Id}
        </foreach>
    </delete>
</mapper>
